<body>
<center>
  <table class="main-table">
    <%= erb :_navbar%>
    <tr style="height:10px"></tr>
    <tr class = "main-body">
      <td>
        <table>
          <tbody>
            <tr>
              <td>
                <center>
                  <a id="up_8542706" href="">
                    <div class="votearrow" title="upvote"></div>
                  </a>
                  <span id="down_8542706"></span>
                </center>
              </td>
              <td class="title">
                <a style="color:black" href='
                <% if @post.url=="" %>
                  <%= "/posts/#{@post.id}" %>
                <% else %>
                  <%= @post.url %>
                <% end %>'><%= @post.title %></a>
                <% @host_url = URI.parse(@post.url).host %>
                <% if @host_url %>
                  <span class="comhead"> <%= "(" + @host_url.sub(/^www\./, '') + ")" %></span>
                <% end %>
              </td>
            </tr>
            <tr style="height:10px"></tr>
            <tr>
              <td>
              </td>
              <td>
                <%= @post.text %>
              </td>
            </tr>
            <tr style="height:10px"></tr>
            <tr>
              <td></td>
              <td>Delete Post?
                <form method="post" action="/posts/<%= @post.id %>">
                  <input value="delete" type="hidden" name="_method">
                  <input type="submit" value="delete">
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    
  </table>
  
</center>
</body>