<body>
<center>
  <table class="main-table">
    <%= erb :_navbar %>
    <tr style="height:10px"></tr>
    <tr class = "main-body">
      <td>
        <table border="0">
        	<tbody>
        		<% if @post.post_votes.find_by(user_id: User.find_by(username: session[:username]).id) %>
              <% @class = "voted" %>
            <% else %>
              <% @class = "votearrow" %>
            <% end %>
        		<tr>
        			<td>        				
        				<center>
        					<a class="vote post<%= @post.id%>" href="/posts/<%= @post.id %>/upvote">
                    <div class=" <%= @class %>" title="upvote"></div>
                  </a>
        					<span id="down_8542706"></span>
        				</center>
        			</td>
        			<td class="title">
                <a style="color:black" href='
                <% if @post.url=="" %>
                  <%= "/posts/#{@post.id}" %>
                <% else %>
                  <%= @post.url %>
                <% end %>'><%= @post.title %></a>
                <% @host_url = URI.parse(@post.url).host %>
                <% if @host_url %>
                  <span class="comhead"> <%= "(" + @host_url.sub(/^www\./, '') + ")" %></span>
                <% end %>
              </td>
	        	</tr>
	        	<tr>
              <td>
                <center>
                  <a class="vote post<%= @post.id%>" href="/posts/<%= @post.id %>/downvote">
                    <div class="<%= @class %> rotate180" title="upvote"></div>
                  </a>
                </center>
              </td>
              <td class="subtext"> by 
                <a href="/users/<%= @post.user.id %>"><%= @post.user.username %></a>  | 
                <a href="/posts/<%= @post.id %>">
                  <% if @post.comments.count == 0 %>
                    discuss
                  <% else %>
                    <%= @post.comments.count %> 
                    <% if @post.comments.count > 1 %>
                      comments
                    <% else %>
                      comment
                    <% end %>
                  <% end %>
                  </a>
                  <% if @post.user.username == session[:username] %>
                    |<a href="/posts/<%= @post.id %>/edit"> edit</a>
                   <% end %> 
                  <% if @post.user.username == session[:username] %>
                   | <a href="/posts/<%= @post.id %>/confirm"> delete</a>
                  <% end %>
              </td>
            </tr>
	        	<tr style="height:10px"></tr>
            <tr>
              <td>
              </td>
              <td>
                <%= @post.text %>
              </td>
            </tr>
            <tr style="height:10px"></tr>
            <tr>
	        	<tr>
	        		<td></td>
	        		<td>
	        			<form method="post" action="/comments/new">
	        				<input type="hidden" name="post_id" value="<%= @post.id %>">
	        				<textarea name="body" rows="6" cols="60"></textarea>
	        				<br>
	        				<br>
	        				<input type="submit" value="add comment">
	        			</form>
	        		</td>
	        	</tr>
	        </tbody>
	      </table>
	      <br>
	      <br>
	      <table border="0">
	      	<tbody>
	      		<% @comments.each do |comment| %>
	      		<% if comment.comment_votes.find_by(user_id: User.find_by(username: session[:username]).id) %>
              <% @commentclass = "voted" %>
            <% else %>
              <% @commentclass = "votearrow" %>
            <% end %>
		      		<tr>
		      			<td>
		      				<table border="0">
		      					<tbody>
			      					<tr>
			      						<td>
			      							<img src="s.gif" height="1" width="0">
			      						</td>
			      						<td valign="top">
			      							<center>
			      								<a class="vote comment<%= comment.id %>" href="/comments/<%= comment.id %>/upvote">
			      									<div class=" <%= @commentclass %>" title="upvote"></div>
			      								</a>
			      								<span id="down_8540503"></span>
			      							</center>
			      							<center>
			      								<a class="vote comment<%= comment.id %>" href="/comments/<%= comment.id %>/downvote">
			      									<div class=" <%= @commentclass %> rotate180" title="upvote"></div>
			      								</a>
			      								<span id="down_8540503"></span>
			      							</center>
			      						</td>
			      						<td class="default">
			      							<div style="margin-top:2px; margin-bottom:-10px; ">
			      								<span class="comhead">
			      									<a href="/user/<%= comment.user.id %>"><%= comment.user.username %></a>
			      								</span>
			      							</div>
			      							<br>
			      							<span class="comment">
			      								<font color="#000000">
			      									<%= comment.body %>
			      								</font>
		      									<p>
		      										<font size="1">
			      										<u>
			      											<a>reply</a>
			      										</u>
		      										</font>
		  											</p>
			      							</span>
			      						</td>
			      					</tr>
		      					</tbody>
		      				</table>
		      			</td>
		      		</tr>
		      	<% end %>
	      	</tbody>
	      </table>
      </td>
    </tr>    
  </table>
  
</center>
</body>