<body>
<center>
  <table class="main-table">
    <%= erb :_navbar%>
    <tr style="height:10px"></tr>
    <tr class = "main-body">
      <td>
        <table>
          <tbody>
            <% @posts.each_with_index do |post, index|%>
            <tr>
              <td class="title"><%= index + 1 %></td>
              <td>
                <center>
                  <a id="up_8542706" href="vote?for=8542706&amp;dir=up&amp;whence=%69%74%65%6d%3f%69%64%3d%38%35%34%32%37%30%36">
                    <div class="votearrow" title="upvote"></div>
                  </a>
                  <span id="down_8542706"></span>
                </center>
              </td>
              <td class="title">
                <a style="color:black" href='
                <% if post.url=="" %>
                  <%= "/posts/#{post.id}" %>
                <% else %>
                  <%= post.url %>
                <% end %>'><%= post.title %></a>
                <% @host_url = URI.parse(post.url).host %>
                <% if @host_url %>
                  <span class="comhead"> <%= "(" + @host_url.sub(/^www\./, '') + ")" %></span>
                <% end %>
              </td>
            </tr>
            <tr>
              <td colspan="1"></td>
              <td>
                <center>
                  <a id="up_8540279">
                    <div class="votearrow rotate180" title="upvote"></div>
                  </a>
                </center>
              </td>
              <td class="subtext"> by 
                <a href="/users/<%= post.user.id %>"><%= post.user.username %></a>  | 
                <a href="/posts/<%= post.id %>">
                  <% if post.comments.count == 0 %>
                    discuss
                  <% else %>
                    <%= post.comments.count %> 
                    <% if post.comments.count > 1 %>
                      comments
                    <% else %>
                      comment
                    <% end %> 
                  <% end %>
                  </a> 
                  <% if post.user.username == session[:username] %>
                    |<a href="/posts/<%= post.id %>/edit"> edit</a>
                  <% end %> 
                  <% if post.user.username == session[:username] %>
                   | <a href="/posts/<%= post.id %>/confirm"> delete</a>
                  <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </td>
    </tr>
    
  </table>
  
</center>
</body>